.fcontainer {
  background-color: white;
  font-size: 20px;
  display: flex;
  height: 2cm;
  width: 39.7cm;
  justify-content: center;
  padding: 5px;
}

body {
min-height: 100vh; /* vh = viewpot height */
width: 100vw;      /* vw = viewport width */
overflow-x: hidden; 
}

.login {
  background-color: white;
  font-size: 20px;
  display: flex;
  height: 0.5cm;
  width: 39.7cm;
  justify-content: right;
  padding: 5px;
}

.fitem1,
.fitem2,
.fitem3,
.fitem4 {
  color: rgb(86, 49, 41);
  margin: 10px;
  margin-left: 1px;
  padding: 15px;
  flex-grow: 0.5;
  order: 1;
  height: 1px;
  text-align: right;
}

.fitem1:hover{text-decoration: underline;}
.fitem2:hover{text-decoration: underline;}
.fitem3:hover{text-decoration: underline;}
.fitem4:hover{text-decoration: underline;}

.fitem4{margin-right: 200px;}

.fitem5 {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
  order:0;
  padding: 15px;
}

.fitem6 {
  flex-grow: 0.2;
  order: 3;
  padding: 15px;
  width: 1px;
  height: 1px;
}

.fitem7 {
  flex-grow: 0;
  order: 2;
  height: 45px;
  color: rgb(176, 175, 175);
}

.fitem7 input[type="text"] {
  width: 350px; 
  height: 30px; 
  font-size: 15px;
}


/* VIDEO OF CURRENT LIVE AUCTION DISPLAY */

.fcontainer2{
  background-color: rgb(218, 217, 215);
  font-size: 20px;
  display: flex;
  height: 15cm;
  width: 39.7cm;
  padding: 5px;}

.fcontainer2:hover{background-color:rgb(207, 206, 202) ;}

.painting{
  order: 3;
  flex-grow: 0;}

.text1{
  order: 1;
  flex-grow: 3;}


/* TRENDING ITEMS */


.fcontainer3 {
background-color: white;
font-size: 20px;
display: flex;
height: 400px;
width: 39.7cm;
justify-content: center;
padding: 5px;
}

.item1,
.item2,
.item3 {
background-color: rgb(218, 217, 215);
margin: 38px;
margin-top: 25px;
border: 2px;
padding: 30px;
width: 350px;
order: 1;
height: 550px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.item1:hover{  background-color: rgb(208, 206, 201);}
.item2:hover{  background-color: rgb(208, 206, 201);}
.item3:hover{  background-color: rgb(208, 206, 201);}

.image-container img {
width: 300px;
height: 400px;
}

.image-container img:hover{transform: scale(1.1)}

.text-container {
margin-top: 10px;
color: rgb(127, 124, 121);
}

.text-container:hover{color: rgb(0, 0, 0); text-decoration: underline;}



.fcontainer4 {
background-color: white;
font-size: 20px;
display: flex; 
justify-content: center;
padding: 5px;
}

.event {
background-color: rgb(218, 217, 215);
margin: 15px;
border: 2px;
padding: 30px;
width: 630px;
height: 240px;
display: flex;
flex-direction: row; /* align text beside image */
align-items: center; 
text-align: left; 
}

.event img {
height: 150px;
width: auto;
margin-right: 20px;
}

.event-content {
flex-grow: 1;
}

.event:hover {
background-color: rgb(208, 206, 201);
}

.event img:hover {
transform: scale(1.1);
}

/* LOCATIONS */

.fcontainer5 {
background-color: white;
font-size: 20px;
display: flex; 
justify-content: center;
padding: 5px;
}

.place {
background-color: rgb(218, 217, 215);
margin: 10px;
padding: 30px;
width: 205px;
height: 50px;
display: flex;
flex-direction: row; /* align text beside image */
align-items: center; 
text-align: left; 
overflow: hidden;
}

.place img {
width: 100%; height: auto;
}

.place:hover {
background-color: rgb(255, 255, 255);
}

.place img:hover{ transform: scale(1.1)}

/* CREDITS */

.fcontainer6 {
height: 300px;
width: 100%;
background-color: rgb(0, 0, 0);
font-size: 20px;
display: flex;
justify-content: center;
flex-direction: row;
padding: 5px;
align-items: flex-start;
}

.creds {
color: rgb(119, 119, 119);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
display: inline-block; 
margin-top: 50px;
margin-right: 150px;
margin-left: 150px;
}

.highlight:hover {
color: white;
text-decoration: underline;
}

/* Social Contacts */

.fcontainer7 {
height: 100px;
background-color: rgb(0, 0, 0);
font-size: 20px;
display: flex;
justify-content: center;
flex-direction: row;
padding: 5px;
align-items: flex-start;
max-width:200%;
}

#contact img{opacity: 50%;}
#contact img:hover{opacity: 100%;} 

.line{background-color: rgb(114, 114, 114);
    height: 0.5px;}

/* THE ART GALLERY */

.fcontainer10 {
display: flex;
justify-content: space-around;
width: 600px;
margin-left: 75px;}
    
.i1, .i2, .i3, .i4, .i5 {
flex: 0 0 auto;
width: 230px;
height: 230px;
text-align: center;
margin: 30px; 
overflow: hidden;
border-radius: 50%;
}
    
.i1 img, .i2 img, .i3 img, .i4 img, .i5 img {
max-width: 100%;
height: 100%;
border-radius: 50%;
}

.i1 img:hover{transform: scale(0.9)}
.i2 img:hover{transform: scale(0.9)}
.i3 img:hover{transform: scale(0.9)}
.i4 img:hover{transform: scale(0.9)}
.i5 img:hover{transform: scale(0.9)}